@model ViewModels.ViewModels.ProposalsPerUserViewModel


@{
    ViewBag["Title"] = "Proposals";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>

    <tbody>
        @{
            int iid = 1;
        }
        @foreach(var proposal in Model.Proposals)
        {
             <tr class="d-table-row">
                 <td>@iid</td>
                 <td>@proposal.Description</td>
                 <td>@proposal.Rating </td>
       
            </tr>

            iid++;
        }

    </tbody>
</table>